@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

.knewave-regular {
    font-family: "Knewave", system-ui;
    font-style: normal;
}

.para-container {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}